@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Belleza', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 100px;
    z-index: 1000;
}

.logo img {
    height: 125px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.background-image {
    height: 100vh;
    background: url('fondo1.webp') no-repeat center center/cover;
}

.dark-green-band {
    height: 300px;
    background-color: #013220; /* Verde oscuro mono */
}

.white-band {
    height: 300px;
    background-color: white;
}
